[user]
	email = dtsa.tan@gmail.com
	name = xllvrr
[gpg]
	program = gpg2
[color]
	ui = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false

[init]
	defaultBranch = main
[credential]
	helper = cache
[http]
	sslVerify = false
