################################# Aliases ##############################################
# This section is for aliases that are useful for regular commands

# applications
alias v='nvim'                            # vim
alias ex="exa --color automatic -a"
alias exl="exa --color automatic -alh --git"
alias tsm="transmission-remote"

# system tools
alias cleanmake='sudo make clean install' # quick alias for make clean install
alias unmake='sudo make uninstall'        # uninstall make files
alias xrefresh='xrdb ~/.Xresources'
alias grep='grep --color'
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes

# merge files
function pdfmerge() {
    gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -dPDFSETTINGS=/prepress -sOutputFile=$@
}

# for dotfile management
alias config="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias lgdot="/usr/bin/lazygit -g $HOME/.dotfiles/ -w $HOME --debug"
alias lg="/usr/bin/lazygit --debug"

# for nvim to open tabs
alias vt='nvim -p' # open in tabs
alias vr='nvim -S' # open saved session
alias vhelp='nvim +help' # open help file

# change visual for crontab
alias crontab='export VISUAL=nvim; crontab'

# for github access
alias gitaccess='pass -c gitaccess'

# track face
alias facetrack='cd /home/xllvr/repos/OpenSeeFace && source env/bin/activate && python facetracker.py -c 0 -W 1920 -H 1080 --discard-after 0 --scan-every 0 --no-3d-adapt 1 --max-feature-updates 900'

# pandoc for beamer
function beamer() {
    pandoc --to=beamer --slide-level=2 --include-in-header=$HOME/.config/nvim/templates/beamersection.txt -s $1 -o $2
}

# pipewire
alias pw441="pw-metadata -n settings 0 clock.force-rate 44100"
alias pw48="pw-metadata -n settings 0 clock.force-rate 48000"
alias pwreset="pw-metadata -n settings 0 clock.force-rate 0"

################################# NNN Stuff ##############################################
n ()
{
    # Block nesting of nnn in subshells
    if [ -n $NNNLVL ] && [ "${NNNLVL:-0}" -ge 1 ]; then
        echo "nnn is already running"
        return
    fi

    # The default behaviour is to cd on quit (nnn checks if NNN_TMPFILE is set)
    # To cd on quit only on ^G, remove the "export" as in:
    NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
    # NOTE: NNN_TMPFILE is fixed, should not be modified
    # export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
    stty start undef
    # stty stop undef
    # stty lwrap undef
    # stty lnext undef

    nnn "$@" -H -e

    if [ -f "$NNN_TMPFILE" ]; then
            . "$NNN_TMPFILE"
            rm -f "$NNN_TMPFILE" > /dev/null
    fi
}

